/build/
/phpunit.xml
/var/
/var/cache/
var/cache/.gitkeep
/var/logs
/var/logs/
var/logs/.gitkeep
/var/sessions
/var/sessions/
var/sessions/.gitkeep
var/SymfonyRequirements.php
/web/bundles/
var/cache/dev/profiler/index.csv
.idea/workspace.xml
var/logs/prod.log
var/logs/dev.log
var/logs/dev.log
var/cache/dev/pools/x8CAfK1BN9/P/O/BgdKUiIuprTJxpN+dyDQ
var/cache/dev/pools/x8CAfK1BN9/O/O/FCY2RgpNoG0wH1afwogX
var/cache/dev/pools/x8CAfK1BN9/5/7/MwPMH7zU2MKB0q8nLqHQ
var/cache/dev/pools/x8CAfK1BN9/+/X/ATHJpIqtTcwf7AIa4VZi
.idea/workspace.xml
