{% extends 'base.html.twig' %}
{% block body %}
	<h1>Artikel wijzigen</h1>
	<ol>
	{% for artikel in artikelen %}
	<li>

	{{ artikel.artikelnummer }}
	<a href="{{ path('artikelwijzigen',{'artikelnummer':artikel.artikelnummer}) }}">Wijzig</a>
	
	</li>

	{% endfor %}
	</ol>
{% endblock %}
