<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Lunenburg</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="logo-lunenburg-klein.png" />
        <link rel="stylesheet" href="{{ asset('favicon.ico') }}" />
        <script src=""{{ asset('js/jquery-3.2.1.min.js') }}></script>
        <script src="{{ 'js/bootstrap.min.js' }}"></script>
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
