<html lang="en">
<head>
  <title>Lunenburg</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="jumbotron text-center">
<h1 style="font-size: 65px; font-family: 'Garamond', cursive;"><font color="#DF0101"><B>Lunenburg</B></font></P></h1>
  </div>
<div class="container">

  <h2 style = "text-align:center; font-size: 35px">Welkom</h2>
  <div class="row">
      <div class="align-left">
      <h3>Inkoper:</h3>
      <h4><button class="btn btn-info btn-lg"><span class="glyphicon glyphicon-log-in"></span><a href="{{ path('inkoperhome') }}"><font color="white"> Inloggen</font></a></button></br></h4>
    </div>
      <div class="align-left">
      <h3>Magazijnmeester:</h3>
        <h4><button class="btn btn-info btn-lg"><span class="glyphicon glyphicon-log-in"></span><a href="{{ path('magazijnmeesterhome') }}"><font color="white"> Inloggen</font></a></button></br></h4>
    </div>
    <div class="align-left">
      <h3>Administrator:</h3>
        <h4><button class="btn btn-info btn-lg"><span class="glyphicon glyphicon-log-in"></span><a href="{{ path('administratorhome') }}"><font color="white"> Inloggen</font></a></button></br></h4>
    </div>
  </div>
</div>

</body>
</html>
