<html lang="en">
<head>
  <title>Lunenburg</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="pull-right" style="width: 15%">
<h4><span class="glyphicon glyphicon glyphicon-log-out"></span><a href="{{ path('login') }}"><font color="black"> Uitloggen</font></a></br></h4>
</div>

<div class="container">
  <h2 style = "text-align:center; font-size: 30px">Welkom Administrator!</h2>
  <div class="row">
      <div class="col-sm-4">
      <h3>Beheren:</h3>
      <h4><button class="btn btn-info btn-lg"><a href="{{ path('allegebruikers') }}"><font color="white">Overzicht van alle gebruikers </font></a><span class="glyphicon glyphicon-chevron-right"></span></button></br></h4>
      <h4><button class="btn btn-info btn-lg"><span class="glyphicon glyphicon-plus"></span><a href="{{ path('user_registration') }}"><font color="white"> Een nieuwe gebruiker toevoegen</font></a></button></br></h4>
    </div>
</div>

</body>
</html>
