{% extends 'base.html.twig' %}
{% block body %}
	<h1> Overzicht van alle klanten</h1>
	{% for klant in klanten %}

  <table style="width:80%">
  <tr>
    <h4> Klant:</h4>
    <li style="color:black"> {{ klant.klantnummer }}</li>
    <li style="color:black"> {{ klant.voornaam }} {{ klant.achternaam }}</li>
    <li style="color:black"> {{ klant.woonplaats }}</li>

	{% endfor %}
{% endblock %}
