{% extends 'base.html.twig' %}
{% block head %}

{% endblock %}
{% block body %}
    <form method="post" action="">

        <table>
            <tr>
                <td>Artikelnummer:</td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>Code vervangend artikel:</td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>Inkoopprijs €:</td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>Magazijnlocatie:</td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>Omschrijving:</td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>Technische specificaties:</td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>Voorraad:</td>
                <td><input type="number"/></td>
            </tr>
            <tr>
                <td>Minimumvoorraad:</td>
                <td><input type="number"/></td>
            </tr>
        </table>

        <input class="btn btn-default" type="submit" />
        <a href="javascript:history.back()">Annuleren</a>
    </form>
{% endblock %}